In [ ]:
#Tuple:

#Synatx= a=()
#Tuple are :
        #1. Immutable - Cannot change their values after inserting values
        #2. Duplicates available - It allows multiple same values
        #3. Hetrogenous nature- Multiple data types allowed
        #4. Ordered nature - Maintain sequence of elements as user inserted

In [1]:
a=(2,3.14,"Saurabh",True)
print(a)
print(type(a))

(2, 3.14, 'Saurabh', True)
<class 'tuple'>

In [3]:
a=(2,3.14,"Saurabh",True)

for i in a:
    print(i)

for i in range(len(a)):
    print(a[i])

2
3.14
Saurabh
True
2
3.14
Saurabh
True

In [4]:
a=(2,3.14,"Saurabh",True)
a[0]=45

print(a)

TypeError: 'tuple' object does not support item assignment

In [6]:
#Tuple Methods:
a=(2,2,2,2,3.14,"Saurabh",True)
index=a.index("Saurabh")
print(index)

count_2=a.count(2)
print(count_2)

5
4

In [9]:
#Tuple Unpacking:

a,b,c,d=(1,2,3,4)

print(a)
print(b)
print(c)
print(d)

a=(1)
print(type(a))
b=(1,)
print(type(b))

1
2
3
4
<class 'int'>
<class 'tuple'>